[package]
authors = ["The Nushell Project Developers"]
description = "CLI-related functionality for Nushell"
edition = "2021"
license = "MIT"
name = "nu-cli"
version = "0.61.1"

[dependencies]
nu-engine = { path = "../nu-engine", version = "0.61.1"  }
nu-path = { path = "../nu-path", version = "0.61.1"  }
nu-parser = { path = "../nu-parser", version = "0.61.1"  }
nu-protocol = { path = "../nu-protocol", version = "0.61.1"  }
nu-utils = { path = "../nu-utils", version = "0.61.1"  }
nu-ansi-term = "0.45.1"
nu-color-config = { path = "../nu-color-config", version = "0.61.1"  }

crossterm = "0.23.0"
miette = { version = "4.5.0", features = ["fancy"] }
thiserror = "1.0.29"
reedline = { version = "0.4.0", features = ["bashisms"]}

log = "0.4"
is_executable = "1.0.1"

[features]
plugin = []
