[package]
authors = ["The Nushell Project Developers"]
description = "CLI-related functionality for Nushell"
repository = "https://github.com/nushell/nushell/tree/main/crates/nu-cli"
edition = "2021"
license = "MIT"
name = "nu-cli"
version = "0.77.2"

[lib]
bench = false

[dev-dependencies]
nu-test-support = { path = "../nu-test-support", version = "0.77.2" }
rstest = { version = "0.17.0", default-features = false }

[dependencies]
nu-command = { path = "../nu-command", version = "0.77.2" }
nu-engine = { path = "../nu-engine", version = "0.77.2" }
nu-path = { path = "../nu-path", version = "0.77.2" }
nu-parser = { path = "../nu-parser", version = "0.77.2" }
nu-protocol = { path = "../nu-protocol", version = "0.77.2" }
nu-utils = { path = "../nu-utils", version = "0.77.2" }
nu-color-config = { path = "../nu-color-config", version = "0.77.2" }

nu-ansi-term = "0.47.0"
reedline = { git = "https://github.com/WindSoilder/reedline.git", features = ["bashisms", "sqlite"], branch = "crossterm_ver" }

atty = "0.2.14"
chrono = { default-features = false, features = ["std"], version = "0.4.23" }
crossterm = "0.26"
fancy-regex = "0.11.0"
fuzzy-matcher = "0.3.7"
is_executable = "1.0.1"
once_cell = "1.17.0"
log = "0.4"
miette = { version = "5.6.0", features = ["fancy-no-backtrace"] }
percent-encoding = "2"
sysinfo = "0.28.2"
thiserror = "1.0.31"

[features]
plugin = []
