[package]
authors = ["The Nushell Project Developers"]
description = "CLI-related functionality for Nushell"
edition = "2021"
license = "MIT"
name = "nu-cli"
version = "0.66.3"

[dev-dependencies]
nu-test-support = { path="../nu-test-support", version = "0.66.3"  }
nu-command = { path = "../nu-command", version = "0.66.3" }
rstest = "0.15.0"

[dependencies]
nu-engine = { path = "../nu-engine", version = "0.66.3"  }
nu-path = { path = "../nu-path", version = "0.66.3"  }
nu-parser = { path = "../nu-parser", version = "0.66.3"  }
nu-protocol = { path = "../nu-protocol", version = "0.66.3"  }
nu-utils = { path = "../nu-utils", version = "0.66.3"  }
nu-ansi-term = "0.46.0"
nu-color-config = { path = "../nu-color-config", version = "0.66.3"  }
reedline = { version = "0.9.0", features = ["bashisms", "sqlite"]}
crossterm = "0.24.0"
miette = { version = "5.1.0", features = ["fancy"] }
thiserror = "1.0.31"
fuzzy-matcher = "0.3.7"

chrono = "0.4.19"
is_executable = "1.0.1"
lazy_static = "1.4.0"
log = "0.4"
regex = "1.5.4"
strip-ansi-escapes = "0.1.1"
sysinfo = "0.24.1"

[features]
plugin = []
