[package]
authors = ["The Nushell Project Developers"]
description = "CLI-related functionality for Nushell"
edition = "2021"
license = "MIT"
name = "nu-cli"
version = "0.64.1"

[dev-dependencies]
nu-test-support = { path="../nu-test-support", version = "0.64.1"  }
nu-command = { path = "../nu-command", version = "0.64.1" }

[dependencies]
nu-engine = { path = "../nu-engine", version = "0.64.1"  }
nu-path = { path = "../nu-path", version = "0.64.1"  }
nu-parser = { path = "../nu-parser", version = "0.64.1"  }
nu-protocol = { path = "../nu-protocol", version = "0.64.1"  }
nu-utils = { path = "../nu-utils", version = "0.64.1"  }
nu-ansi-term = "0.46.0"
nu-color-config = { path = "../nu-color-config", version = "0.64.1"  }
reedline = { version = "0.7.0", features = ["bashisms", "sqlite"]}
crossterm = "0.23.0"
miette = { version = "5.1.0", features = ["fancy"] }
thiserror = "1.0.31"
fuzzy-matcher = "0.3.7"

log = "0.4"
is_executable = "1.0.1"
chrono = "0.4.19"
sysinfo = "0.24.1"

[features]
plugin = []
