[package]
authors = ["The Nushell Project Developers"]
description = "CLI-related functionality for Nushell"
repository = "https://github.com/nushell/nushell/tree/main/crates/nu-cli"
edition = "2021"
license = "MIT"
name = "nu-cli"
version = "0.81.1"

[lib]
bench = false

[dev-dependencies]
nu-test-support = { path = "../nu-test-support", version = "0.81.1" }
rstest = { version = "0.17.0", default-features = false }

[dependencies]
nu-command = { path = "../nu-command", version = "0.81.1" }
nu-engine = { path = "../nu-engine", version = "0.81.1" }
nu-path = { path = "../nu-path", version = "0.81.1" }
nu-parser = { path = "../nu-parser", version = "0.81.1" }
nu-protocol = { path = "../nu-protocol", version = "0.81.1" }
nu-utils = { path = "../nu-utils", version = "0.81.1" }
nu-color-config = { path = "../nu-color-config", version = "0.81.1" }
nu-ansi-term = "0.48.0"
reedline = { version = "0.20.0", features = ["bashisms", "sqlite"]}

atty = "0.2"
chrono = { default-features = false, features = ["std"], version = "0.4" }
crossterm = "0.26"
fancy-regex = "0.11"
fuzzy-matcher = "0.3"
is_executable = "1.0"
log = "0.4"
miette = { version = "5.9", features = ["fancy-no-backtrace"] }
once_cell = "1.17"
percent-encoding = "2"
sysinfo = "0.29"
unicode-segmentation = "1.10"
ahash = "0.8.3"

[features]
plugin = []
