[package]
authors = ["The Nushell Project Developers"]
description = "CLI-related functionality for Nushell"
repository = "https://github.com/nushell/nushell/tree/main/crates/nu-cli"
edition = "2021"
license = "MIT"
name = "nu-cli"
version = "0.83.2"

[lib]
bench = false

[dev-dependencies]
nu-cmd-lang = { path = "../nu-cmd-lang", version = "0.83.2" }
nu-test-support = { path = "../nu-test-support", version = "0.83.2" }
rstest = { version = "0.18.1", default-features = false }

[dependencies]
nu-cmd-base = { path = "../nu-cmd-base", version = "0.83.2" }
nu-command = { path = "../nu-command", version = "0.83.2" }
nu-engine = { path = "../nu-engine", version = "0.83.2" }
nu-path = { path = "../nu-path", version = "0.83.2" }
nu-parser = { path = "../nu-parser", version = "0.83.2" }
nu-protocol = { path = "../nu-protocol", version = "0.83.2" }
nu-utils = { path = "../nu-utils", version = "0.83.2" }
nu-color-config = { path = "../nu-color-config", version = "0.83.2" }
nu-ansi-term = "0.49.0"
reedline = { version = "0.22.0", features = ["bashisms", "sqlite"]}

chrono = { default-features = false, features = ["std"], version = "0.4" }
crossterm = "0.26"
fancy-regex = "0.11"
fuzzy-matcher = "0.3"
is_executable = "1.0"
is-terminal = "0.4.8"
log = "0.4"
miette = { version = "5.10", features = ["fancy-no-backtrace"] }
once_cell = "1.18"
percent-encoding = "2"
sysinfo = "0.29"
unicode-segmentation = "1.10"

[features]
plugin = []
