[package]
name = "nu"
version = "0.1.3"
authors = ["Yehuda Katz <wycats@gmail.com>", "Jonathan Turner <jonathan.d.turner@gmail.com>"]
description = "A shell for the GitHub era"
license = "MIT"
edition = "2018"
readme = "README.md"
default-run = "nu"
repository = "https://github.com/nushell/nushell"
homepage = "https://github.com/nushell/nushell"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
#rustyline = "5.0.0"
rustyline = { git = "https://github.com//kkawakam/rustyline" }
sysinfo = "0.9"
chrono = { version = "0.4.7", features = ["serde"] }
chrono-tz = "0.5.1"
derive-new = "0.5.7"
prettytable-rs = "0.8.0"
itertools = "0.8.0"
ansi_term = "0.12.0"
nom = "5.0.0"
dunce = "1.0.0"
indexmap = { version = "1.0.2", features = ["serde-1"] }
chrono-humanize = "0.0.11"
byte-unit = "3.0.1"
ordered-float = {version = "1.0.2", features = ["serde"]}
prettyprint = "0.7.0"
futures-preview = { version = "=0.3.0-alpha.17", features = ["compat", "io-compat"] }
futures-sink-preview = "=0.3.0-alpha.17"
futures_codec = "0.2.5"
term = "0.5.2"
bytes = "0.4.12"
log = "0.4.7"
pretty_env_logger = "0.3.0"
serde = "1.0.97"
serde_json = "1.0.40"
serde-hjson = "0.9.0"
serde_yaml = "0.8"
serde_derive = "1.0.97"
serde_bytes = "0.11.1"
getset = "0.0.7"
logos = "0.10.0-rc2"
logos-derive = "0.10.0-rc2"
language-reporting = "0.3.1"
app_dirs = "1.2.1"
csv = "1.1"
toml = "0.5.1"
toml-query = "0.9.2"
clap = "2.33.0"
enum_derive = "0.1.7"
adhoc_derive = "0.1.2"
lazy_static = "1.3.0"
git2 = "0.9.2"
dirs = "2.0.2"
glob = "0.3.0"
ctrlc = "3.1.3"
ptree = "0.2"
clipboard = "0.5"
reqwest = "0.9"
roxmltree = "0.6.1"
nom5_locate = "0.1.1"
derive_more = "0.15.0"
enum-utils = "0.1.1"
unicode-xid = "0.2.0"
serde_ini = "0.2.0"
subprocess = "0.1.18"
sys-info = "0.5.7"
mime = "0.3.13"
regex = "1.2.0"
pretty-hex = "0.1.0"
neso = "0.5.0"
rawkey = {git = "https://github.com/jonathandturner/rawkey"}
crossterm = "0.10.1"
tempfile = "3.1.0"
image = "0.22.0"
semver = "0.9.0"
uuid = {version = "0.7.4", features = [ "v4", "serde" ]}
syntect = "3.2.0"
strip-ansi-escapes = "0.1.0"
heim = "0.0.5"

[dev-dependencies]
pretty_assertions = "0.6.1"

[lib]
name = "nu"
path = "src/lib.rs"

[[bin]]
name = "nu_plugin_inc"
path = "src/plugins/inc.rs"

[[bin]]
name = "nu_plugin_sum"
path = "src/plugins/sum.rs"

[[bin]]
name = "nu_plugin_add"
path = "src/plugins/add.rs"

[[bin]]
name = "nu_plugin_edit"
path = "src/plugins/edit.rs"

[[bin]]
name = "nu_plugin_str"
path = "src/plugins/str.rs"

[[bin]]
name = "nu_plugin_skip"
path = "src/plugins/skip.rs"

[[bin]]
name = "nu_plugin_sys"
path = "src/plugins/sys.rs"

[[bin]]
name = "nu_plugin_tree"
path = "src/plugins/tree.rs"

[[bin]]
name = "nu_plugin_binaryview"
path = "src/plugins/binaryview.rs"

[[bin]]
name = "nu_plugin_textview"
path = "src/plugins/textview.rs"

[[bin]]
name = "nu"
path = "src/main.rs"
