# So, you want to update the Rust toolchain...
# The key is making sure all our dependencies support the version of Rust we're using,
# and that nushell compiles on all the platforms tested in our CI.

# Here's some documentation on how to use this file:
# https://rust-lang.github.io/rustup/overrides.html#the-toolchain-file

[toolchain]
# The default profile includes rustc, rust-std, cargo, rust-docs, rustfmt and clippy.
# https://rust-lang.github.io/rustup/concepts/profiles.html
profile = "default"
# The current plan is to be 2 releases behind the latest stable release. So, if the
# latest stable release is 1.72.0, the channel should be 1.70.0. We want to do this
# so that we give repo maintainers and package managers a chance to update to a more
# recent version of rust. However, if there is a "cool new feature" that we want to
# use in nushell, we may opt to use the bleeding edge stable version of rust.
channel = "1.87.0"
