[package]
authors = ["The Nu Project Contributors"]
description = "web scraping using css selector"
edition = "2018"
license = "MIT"
name = "nu_plugin_selector"
version = "0.37.1"

[lib]
doctest = false

[dependencies]
nipper = "0.1.9"
scraper = "0.12.0"
nu-errors = { version = "0.37.1", path="../nu-errors" }
nu-plugin = { version = "0.37.1", path="../nu-plugin" }
nu-protocol = { version = "0.37.1", path="../nu-protocol" }
nu-source = { version = "0.37.1", path="../nu-source" }

[dev-dependencies]
indexmap = { version="1.7", features=["serde-1"] }
