[package]
authors = ["Andrei Volnin <wolandr@gmail.com>", "The Nushell Project Developers"]
description = "Pretty hex dump of bytes slice in the common style."
repository = "https://github.com/nushell/nushell/tree/main/crates/nu-pretty-hex"
edition = "2024"
license = "MIT"
name = "nu-pretty-hex"
version = "0.108.1"

[lib]
doctest = false
name = "nu_pretty_hex"
path = "src/lib.rs"
bench = false

[lints]
workspace = true

[dependencies]
nu-ansi-term = { workspace = true }

[dev-dependencies]
heapless = { version = "0.9", default-features = false }
rand = "0.8"
