[package]
authors = ["Andrei Volnin <wolandr@gmail.com>", "The Nu Project Contributors"]
description = "Pretty hex dump of bytes slice in the common style."
edition = "2018"
license = "MIT"
name = "nu-pretty-hex"
version = "0.37.1"

[lib]
doctest = false
name = "nu_pretty_hex"
path = "src/lib.rs"

[[bin]]
name = "nu_pretty_hex"
path = "src/main.rs"

[dependencies]
nu-ansi-term = { path="../nu-ansi-term", version = "0.37.1" }
rand = "0.8.3"

[dev-dependencies]
heapless = "0.6.1"

# [features]
# default = ["alloc"]
# alloc = []
