[package]
authors = ["Andrei Volnin <wolandr@gmail.com>", "The Nushell Project Developers"]
description = "Pretty hex dump of bytes slice in the common style."
repository = "https://github.com/nushell/nushell/tree/main/crates/nu-pretty-hex"
edition = "2021"
license = "MIT"
name = "nu-pretty-hex"
version = "0.69.2"

[lib]
doctest = false
name = "nu_pretty_hex"
path = "src/lib.rs"

[[bin]]
name = "nu_pretty_hex"
path = "src/main.rs"

[dependencies]
nu-ansi-term = "0.46.0"
rand = "0.8.3"

[dev-dependencies]
heapless = { version = "0.7.8", default-features = false }

# [features]
# default = ["alloc"]
# alloc = []
