[package]
authors = ["Andrei Volnin <wolandr@gmail.com>", "The Nushell Project Developers"]
description = "Pretty hex dump of bytes slice in the common style."
edition = "2021"
license = "MIT"
name = "nu-pretty-hex"
version = "0.63.1"

[lib]
doctest = false
name = "nu_pretty_hex"
path = "src/lib.rs"

[[bin]]
name = "nu_pretty_hex"
path = "src/main.rs"

[dependencies]
nu-ansi-term = "0.45.1"
rand = "0.8.3"

[dev-dependencies]
heapless = { version = "0.7.8", default-features = false }

# [features]
# default = ["alloc"]
# alloc = []
