[package]
authors = ["The Nushell Project Developers"]
description = "The foundation tools to build Nushell commands."
edition = "2021"
license = "MIT"
name = "nu-cmd-base"
repository = "https://github.com/nushell/nushell/tree/main/crates/nu-cmd-base"
version = "0.83.1"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
nu-engine = { path = "../nu-engine", version = "0.83.1" }
nu-path = { path = "../nu-path", version = "0.83.1" }
nu-protocol = { version = "0.83.1", path = "../nu-protocol" }
indexmap = { version = "2.0" }
