[package]
authors = ["The Nushell Project Developers"]
description = "Nushell's extra commands that are not part of the 1.0 api standard."
edition = "2021"
license = "MIT"
name = "nu-cmd-extra"
repository = "https://github.com/nushell/nushell/tree/main/crates/nu-cmd-extra"
version = "0.91.1"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
bench = false

[dependencies]
nu-engine = { path = "../nu-engine", version = "0.91.1" }
nu-parser = { path = "../nu-parser", version = "0.91.1" }
nu-protocol = { path = "../nu-protocol", version = "0.91.1" }
nu-cmd-base = { path = "../nu-cmd-base", version = "0.91.1" }
nu-utils = { path = "../nu-utils", version = "0.91.1" }

# Potential dependencies for extras
heck = "0.4.1"
num-traits = "0.2"
nu-ansi-term = { workspace = true }
fancy-regex = { workspace = true }
rust-embed = "8.2.0"
serde = "1.0.164"
nu-pretty-hex = { version = "0.91.1", path = "../nu-pretty-hex" }
nu-json = { version = "0.91.1", path = "../nu-json" }
serde_urlencoded = "0.7.1"
v_htmlescape = "0.15.0"
itertools = "0.12"

[features]
extra = ["default"]
default = []

[dev-dependencies]
nu-cmd-lang = { path = "../nu-cmd-lang", version = "0.91.1" }
nu-command = { path = "../nu-command", version = "0.91.1" }
nu-test-support = { path = "../nu-test-support", version = "0.91.1" }
