[package]
authors = ["The Nu Project Contributors"]
description = "An HTTP post plugin for Nushell"
edition = "2018"
license = "MIT"
name = "nu_plugin_post"
version = "0.33.1"

[lib]
doctest = false

[dependencies]
base64 = "0.13.0"
futures = { version="0.3.5", features=["compat", "io-compat"] }
mime = "0.3.16"
nu-errors = { path="../nu-errors", version="0.33.1" }
nu-plugin = { path="../nu-plugin", version="0.33.1" }
nu-protocol = { path="../nu-protocol", version="0.33.1" }
nu-source = { path="../nu-source", version="0.33.1" }
num-traits = "0.2.12"
serde_json = "1.0.57"
surf = "2.2.0"
url = "2.1.1"

[features]
dataframe = ["nu-protocol/dataframe"]


[build-dependencies]
