[package]
authors = ["The Nu Project Contributors"]
description = "Support for writing Nushell tests"
edition = "2018"
license = "MIT"
name = "nu-test-support"
version = "0.43.0"

[lib]
doctest = false

[dependencies]
<<<<<<< HEAD
nu-errors = { version = "0.43.0", path="../nu-errors" }
nu-path = { version = "0.43.0", path="../nu-path" }
nu-protocol = { path="../nu-protocol", version = "0.43.0" }
nu-source = { path="../nu-source", version = "0.43.0" }
=======
nu-path = { path="../nu-path" }
nu-protocol = { path="../nu-protocol" }
>>>>>>> 9259a56a28f1dd3a4b720ad815aa19c6eaf6adce

bigdecimal = { package = "bigdecimal", version = "0.3.0", features = ["serde"] }
chrono = "0.4.19"
getset = "0.1.1"
glob = "0.3.0"
indexmap = { version="1.6.1", features=["serde-1"] }
num-bigint = { version="0.4.3", features=["serde"] }
tempfile = "3.2.0"
hamcrest2 = "0.3.0"
