[package]
authors = ["The Nushell Project Developers"]
description = "Support for writing Nushell tests"
repository = "https://github.com/nushell/nushell/tree/main/crates/nu-test-support"
edition = "2024"
license = "MIT"
name = "nu-test-support"
version = "0.105.2"

[lib]
doctest = false
bench = false

[lints]
workspace = true

[dependencies]
nu-path = { path = "../nu-path", version = "0.105.2" }
nu-glob = { path = "../nu-glob", version = "0.105.2" }
nu-utils = { path = "../nu-utils", version = "0.105.2" }

num-format = { workspace = true }
which = { workspace = true }
tempfile = { workspace = true }
