[package]
authors = ["The Nushell Project Developers"]
description = "Support for writing Nushell tests"
repository = "https://github.com/nushell/nushell/tree/main/crates/nu-test-support"
edition = "2018"
license = "MIT"
name = "nu-test-support"
version = "0.69.2"

[lib]
doctest = false

[dependencies]
nu-path = { path="../nu-path", version = "0.69.2"  }
nu-glob = { path = "../nu-glob", version = "0.69.2" }
nu-utils = { path="../nu-utils", version = "0.69.2"  }
lazy_static = "1.4.0"
num-format = "0.4.3"

getset = "0.1.1"
num-bigint = { version="0.4.3", features=["serde"] }
tempfile = "3.2.0"
hamcrest2 = "0.3.0"
