[package]
name = "nu-test-support"
version = "0.14.1"
authors = ["The Nu Project Contributors"]
edition = "2018"
description = "A source string characterizer for Nushell"
license = "MIT"

[lib]
doctest = false

[dependencies]
nu-parser = { path = "../nu-parser", version = "0.14.1" }
nu-source = { path = "../nu-source", version = "0.14.1" }
nu-protocol = { path = "../nu-protocol", version = "0.14.1" }

app_dirs = "1.2.1"
dunce = "1.0.0"
getset = "0.1.0"
glob = "0.3.0"
tempfile = "3.1.0"
indexmap = { version = "1.3.2", features = ["serde-1"] }

[build-dependencies]
nu-build = { version = "0.14.1", path = "../nu-build" }
