[package]
authors = ["The Nushell Project Developers"]
description = "Support for writing Nushell tests"
repository = "https://github.com/nushell/nushell/tree/main/crates/nu-test-support"
edition = "2021"
license = "MIT"
name = "nu-test-support"
version = "0.80.1"

[lib]
doctest = false
bench = false

[dependencies]
nu-path = { path="../nu-path", version = "0.80.1"  }
nu-glob = { path = "../nu-glob", version = "0.80.1" }
nu-utils = { path="../nu-utils", version = "0.80.1"  }
num-format = "0.4.3"
which = "4.3.0"

getset = "0.1.1"
tempfile = "3.2.0"
hamcrest2 = "0.3.0"
