[package]
authors = ["The Nu Project Contributors"]
description = "Core commands for nushell"
edition = "2018"
license = "MIT"
name = "nu-engine"
version = "0.27.1"

[dependencies]
nu-data = { version = "0.27.1", path = "../nu-data" }
nu-errors = { version = "0.27.1", path = "../nu-errors" }
nu-parser = { version = "0.27.1", path = "../nu-parser" }
nu-plugin = { version = "0.27.1", path = "../nu-plugin" }
nu-protocol = { version = "0.27.1", path = "../nu-protocol" }
nu-source = { version = "0.27.1", path = "../nu-source" }
nu-stream = { version = "0.27.1", path = "../nu-stream" }
nu-value-ext = { version = "0.27.1", path = "../nu-value-ext" }
nu-ansi-term = { version = "0.27.1", path = "../nu-ansi-term" }

async-recursion = "0.3.2"
async-trait = "0.1.42"
bytes = "0.5.6"
derive-new = "0.5.8"
dirs-next = { version = "2.0.0", optional = true }
dunce = "1.0.1"
encoding_rs = "0.8.28"
filesize = "0.2.0"
fs_extra = "1.2.0"
futures = { version = "0.3.12", features = ["compat", "io-compat"] }
futures-util = "0.3.12"
futures_codec = "0.4.1"
getset = "0.1.1"
glob = "0.3.0"
indexmap = { version = "1.6.1", features = ["serde-1"] }
itertools = "0.10.0"
log = "0.4.14"
parking_lot = "0.11.1"
rayon = "1.5.0"
serde = { version = "1.0.123", features = ["derive"] }
serde_json = "1.0.61"
tempfile = "3.2.0"
term_size = "0.3.2"
termcolor = "1.1.2"

[target.'cfg(unix)'.dependencies]
umask = "1.0.0"
users = "0.11.0"

[dev-dependencies]
nu-test-support = { version = "0.27.1", path = "../nu-test-support" }

[features]
rustyline-support = []
dirs = ["dirs-next"]
