[package]
authors = ["The Nushell Project Developers"]
description = "Nushell's evaluation engine"
repository = "https://github.com/nushell/nushell/tree/main/crates/nu-engine"
edition = "2021"
license = "MIT"
name = "nu-engine"
version = "0.72.2"

[dependencies]
nu-protocol = { path = "../nu-protocol", features = ["plugin"], version = "0.72.2"  }
nu-path = { path = "../nu-path", version = "0.72.2"  }
nu-glob = { path = "../nu-glob", version = "0.72.2" }
nu-utils = { path = "../nu-utils", version = "0.72.2"  }

chrono = { version="0.4.23", features = ["std"], default-features = false }
sysinfo ="0.26.2"

[features]
plugin = []
