[package]
authors = ["The Nushell Project Developers"]
description = "Nushell's evaluation engine"
repository = "https://github.com/nushell/nushell/tree/main/crates/nu-engine"
edition = "2021"
license = "MIT"
name = "nu-engine"
version = "0.92.3"

[lib]
bench = false

[dependencies]
nu-protocol = { path = "../nu-protocol", features = ["plugin"], version = "0.92.3" }
nu-path = { path = "../nu-path", version = "0.92.3" }
nu-glob = { path = "../nu-glob", version = "0.92.3" }
nu-utils = { path = "../nu-utils", version = "0.92.3" }

[features]
plugin = []
