[package]
authors = ["The Nushell Project Developers"]
description = "Nushell's evaluation engine"
repository = "https://github.com/nushell/nushell/tree/main/crates/nu-engine"
edition = "2021"
license = "MIT"
name = "nu-engine"
version = "0.100.1"

[lib]
bench = false

[lints]
workspace = true

[dependencies]
nu-protocol = { path = "../nu-protocol", features = ["plugin"], version = "0.100.1" }
nu-path = { path = "../nu-path", version = "0.100.1" }
nu-glob = { path = "../nu-glob", version = "0.100.1" }
nu-utils = { path = "../nu-utils", version = "0.100.1" }
log = { workspace = true }
terminal_size = "0.4"

[features]
plugin = []