[package]
name = "nu-engine"
version = "0.59.0"
edition = "2021"

[dependencies]
nu-protocol = { path = "../nu-protocol", features = ["plugin"], version = "0.59.0"  }
nu-path = { path = "../nu-path", version = "0.59.0"  }
itertools = "0.10.1"
chrono = { version="0.4.19", features=["serde"] }
glob = "0.3.0"

[features]
plugin = []
