trigger:
  - master

strategy:
  matrix:
    linux-nightly:
      image: ubuntu-16.04
    macos-nightly:
      image: macos-10.14
    windows-nightly:
      image: vs2017-win2016

pool:
  vmImage: $(image)

steps:
  - bash: |
      set -e
      curl https://sh.rustup.rs -sSf | sh -s -- -y --no-modify-path --default-toolchain `cat rust-toolchain`
      export PATH=$HOME/.cargo/bin:$PATH
      rustc -Vv
      echo "##vso[task.prependpath]$HOME/.cargo/bin"
    displayName: Install Rust
  - bash: RUSTFLAGS="-D warnings" cargo build --all-features
    displayName: Build
  - bash: RUSTFLAGS="-D warnings" cargo test
    displayName: Run tests
