[package]
authors = ["The Nu Project Contributors"]
description = "Nushell table printing"
edition = "2018"
license = "MIT"
name = "nu-table"
version = "0.18.1"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[[bin]]
name = "table"
path = "src/main.rs"

[dependencies]
ansi_term = "0.12.1"
unicode-width = "0.1.7"
