[package]
authors = ["The Nushell Project Developers"]
description = "Nushell table printing"
repository = "https://github.com/nushell/nushell/tree/main/crates/nu-table"
edition = "2021"
license = "MIT"
name = "nu-table"
version = "0.79.1"

[lib]
bench = false

[dependencies]
nu-protocol = { path = "../nu-protocol", version = "0.79.1" }
nu-utils = { path = "../nu-utils", version = "0.79.1" }
nu-engine = { path = "../nu-engine", version = "0.79.1" }
nu-color-config = { path = "../nu-color-config", version = "0.79.1" }

nu-ansi-term = "0.47.0"

tabled = { version = "0.10.0", features = ["color"], default-features = false }
json_to_table = { version = "0.3.1", features = ["color"] }
serde_json = "1"

[dev-dependencies]
# nu-test-support = { path="../nu-test-support", version = "0.79.1"  }
