[package]
authors = ["The Nushell Project Developers"]
description = "Nushell table printing"
edition = "2021"
license = "MIT"
name = "nu-table"
version = "0.66.3"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[[bin]]
name = "table"
path = "src/main.rs"

[dependencies]
nu-ansi-term = "0.46.0"
nu-protocol = { path = "../nu-protocol", version = "0.66.3" }
strip-ansi-escapes = "0.1.1"
atty = "0.2.14"
tabled = { git = "https://github.com/zhiburt/tabled", rev = "9a859e313a6f5ac77d64e0ff71ff88353e2de134", features = ["color"], default-features = false }
