[package]
authors = ["The Nushell Project Developers"]
description = "Functionality for building Nushell plugins"
repository = "https://github.com/nushell/nushell/tree/main/crates/nu-plugin"
edition = "2021"
license = "MIT"
name = "nu-plugin"
version = "0.69.2"

[dependencies]
bincode = "1.3.3"
nu-protocol = { path = "../nu-protocol", version = "0.69.2"  }
nu-engine = { path = "../nu-engine", version = "0.69.2"  }
serde = {version = "1.0.143", features = ["derive"]}
serde_json = { version = "1.0"}
byte-order = "0.3.0"
rmp = "0.8.11"
rmp-serde = "1.1.0"
rmpv = "1.0.0"

[dev-dependencies]
criterion = "0.3"

[[bench]]
name = "encoder_benchmark"
harness = false
