[package]
authors = ["The Nushell Project Developers"]
description = "Functionality for building Nushell plugins"
repository = "https://github.com/nushell/nushell/tree/main/crates/nu-plugin"
edition = "2024"
license = "MIT"
name = "nu-plugin"
version = "0.107.1"

[lib]
bench = false

[lints]
workspace = true

[dependencies]
nu-engine = { path = "../nu-engine", version = "0.107.1", features = ["plugin"] }
nu-protocol = { path = "../nu-protocol", version = "0.107.1", features = ["plugin"] }
nu-plugin-protocol = { path = "../nu-plugin-protocol", version = "0.107.1" }
nu-plugin-core = { path = "../nu-plugin-core", version = "0.107.1", default-features = false }
nu-utils = { path = "../nu-utils", version = "0.107.1" }

log = { workspace = true }
thiserror = "2.0.12"

[dev-dependencies]
serde = { workspace = true }
typetag = "0.2"

[features]
default = ["local-socket"]
local-socket = ["nu-plugin-core/local-socket"]

[target.'cfg(target_family = "unix")'.dependencies]
# For setting the process group ID (EnterForeground / LeaveForeground)
nix = { workspace = true, default-features = false, features = ["process"] }
