[package]
authors = ["The Nu Project Contributors"]
description = "Nushell Plugin"
edition = "2018"
license = "MIT"
name = "nu-plugin"
version = "0.26.0"

[lib]
doctest = false

[dependencies]
nu-errors = {path = "../nu-errors", version = "0.26.0"}
nu-protocol = {path = "../nu-protocol", version = "0.26.0"}
nu-source = {path = "../nu-source", version = "0.26.0"}
nu-test-support = {path = "../nu-test-support", version = "0.26.0"}
nu-value-ext = {path = "../nu-value-ext", version = "0.26.0"}

bigdecimal = {version = "0.2.0", features = ["serde"]}
indexmap = {version = "1.6.0", features = ["serde-1"]}
num-bigint = {version = "0.3.0", features = ["serde"]}
serde = {version = "1.0.115", features = ["derive"]}
serde_json = "1.0.57"

[build-dependencies]
