[package]
authors = ["The Nushell Project Developers"]
description = "Functionality for building Nushell plugins"
repository = "https://github.com/nushell/nushell/tree/main/crates/nu-plugin"
edition = "2021"
license = "MIT"
name = "nu-plugin"
version = "0.66.4"

[dependencies]
bincode = "1.3.3"
capnp = "0.14.3"
nu-protocol = { path = "../nu-protocol", version = "0.66.4"  }
nu-engine = { path = "../nu-engine", version = "0.66.4"  }
serde = {version = "1.0.130", features = ["derive"]}
serde_json = { version = "1.0"}
