[package]
authors = ["The Nu Project Contributors"]
description = "A version incrementer plugin for Nushell"
edition = "2021"
license = "MIT"
name = "nu_plugin_example"
version = "0.60.0"

[dependencies]
nu-plugin = { path="../nu-plugin", version = "0.60.0" }
nu-protocol = { path="../nu-protocol", version = "0.60.0", features = ["plugin"]}
