[package]
authors = ["The Nushell Project Developers"]
description = "A version incrementer plugin for Nushell"
repository = "https://github.com/nushell/nushell/tree/main/crates/nu_plugin_example"
edition = "2021"
license = "MIT"
name = "nu_plugin_example"
version = "0.80.1"

[[bin]]
name = "nu_plugin_example"
bench = false

[lib]
bench = false

[dependencies]
nu-plugin = { path="../nu-plugin", version = "0.80.1" }
nu-protocol = { path="../nu-protocol", version = "0.80.1", features = ["plugin"]}
