[package]
authors = ["The Nushell Project Developers"]
description = "A version incrementer plugin for Nushell"
edition = "2021"
license = "MIT"
name = "nu_plugin_example"
version = "0.66.3"

[dependencies]
nu-plugin = { path="../nu-plugin", version = "0.66.3" }
nu-protocol = { path="../nu-protocol", version = "0.66.3", features = ["plugin"]}
