[package]
authors = ["The Nu Project Contributors"]
description = "A URL fetch plugin for Nushell"
edition = "2018"
license = "MIT"
name = "nu_plugin_fetch"
version = "0.26.0"

[lib]
doctest = false

[dependencies]
base64 = "0.13.0"
futures = {version = "0.3.5", features = ["compat", "io-compat"]}
nu-errors = {path = "../nu-errors", version = "0.26.0"}
nu-plugin = {path = "../nu-plugin", version = "0.26.0"}
nu-protocol = {path = "../nu-protocol", version = "0.26.0"}
nu-source = {path = "../nu-source", version = "0.26.0"}
surf = "1.0.3"
url = "2.1.1"

[build-dependencies]
