[package]
authors = ["The Nushell Project Developers"]
description = "An I/O plugin for a set of file formats for Nushell"
repository = "https://github.com/nushell/nushell/tree/main/crates/nu_plugin_formats"
edition = "2021"
license = "MIT"
name = "nu_plugin_formats"
version = "0.91.1"
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
nu-plugin = { path = "../nu-plugin", version = "0.91.1" }
nu-protocol = { path = "../nu-protocol", version = "0.91.1", features = ["plugin"] }

indexmap = "2.2"
eml-parser = "0.1"
ical = "0.10"
rust-ini = "0.20.0"
