[package]
authors = ["The Nushell Project Developers"]
description = "An I/O plugin for a set of file formats for Nushell"
repository = "https://github.com/nushell/nushell/tree/main/crates/nu_plugin_formats"
edition = "2024"
license = "MIT"
name = "nu_plugin_formats"
version = "0.108.1"
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lints]
workspace = true

[dependencies]
nu-plugin = { path = "../nu-plugin", version = "0.108.1" }
nu-protocol = { path = "../nu-protocol", version = "0.108.1", features = ["plugin"] }

indexmap = { workspace = true }
eml-parser = "0.1"
ical = "0.11"
rust-ini = "0.21.0"
plist = "1.8"
chrono = "0.4"

[dev-dependencies]
nu-plugin-test-support = { path = "../nu-plugin-test-support", version = "0.108.1" }
