[package]
authors = ["The Nushell Project Developers"]
description = "Nushell's integrated LSP server"
repository = "https://github.com/nushell/nushell/tree/main/crates/nu-lsp"
name = "nu-lsp"
version = "0.88.0"
edition = "2021"
license = "MIT"

[dependencies]
nu-cli = { path = "../nu-cli", version = "0.88.0" }
nu-parser = { path = "../nu-parser", version = "0.88.0" }
nu-protocol = { path = "../nu-protocol", version = "0.88.0" }

reedline = { version = "0.27" }

crossbeam-channel = "0.5.8"
lsp-types = "0.94.1"
lsp-server = "0.7.5"
miette = "5.10"
ropey = "1.6.1"
serde = "1.0"
serde_json = "1.0"

[dev-dependencies]
nu-cmd-lang = { path = "../nu-cmd-lang", version = "0.88.0" }
nu-command = { path = "../nu-command", version = "0.88.0" }
nu-test-support = { path = "../nu-test-support", version = "0.88.0" }

assert-json-diff = "2.0"
tempfile = "3.2"
