[package]
authors = ["The Nushell Project Developers"]
description = "Nushell's integrated LSP server"
repository = "https://github.com/nushell/nushell/tree/main/crates/nu-lsp"
name = "nu-lsp"
version = "0.101.1"
edition = "2021"
license = "MIT"

[dependencies]
nu-cli = { path = "../nu-cli", version = "0.101.1" }
nu-parser = { path = "../nu-parser", version = "0.101.1" }
nu-protocol = { path = "../nu-protocol", version = "0.101.1" }

crossbeam-channel = { workspace = true }
fuzzy-matcher = { workspace = true }
lsp-server = { workspace = true }
lsp-textdocument = { workspace = true }
lsp-types = { workspace = true }
miette = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
url = { workspace = true }
wax = { workspace = true }

[dev-dependencies]
nu-cmd-lang = { path = "../nu-cmd-lang", version = "0.101.1" }
nu-command = { path = "../nu-command", version = "0.101.1" }
nu-test-support = { path = "../nu-test-support", version = "0.101.1" }

assert-json-diff = "2.0"

[lints]
workspace = true
