#include <winver.h>

#define VER_FILEVERSION 0,59,1,0
#define VER_FILEVERSION_STR "0.59.1"

#define VER_PRODUCTVERSION 0,59,1,0
#define VER_PRODUCTVERSION_STR "0.59.1"

#ifdef RC_INVOKED

#ifdef DEBUG // TODO: Actually define DEBUG
#define VER_DEBUG VS_FF_DEBUG
#else
#define VER_DEBUG 0
#endif

VS_VERSION_INFO VERSIONINFO
FILEVERSION VER_FILEVERSION
PRODUCTVERSION VER_PRODUCTVERSION
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEFLAGS VER_DEBUG
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "nushell"
            VALUE "FileDescription", "Nushell"
            VALUE "FileVersion", VER_FILEVERSION_STR
            VALUE "InternalName", "nu.exe"
            VALUE "LegalCopyright", "Copyright (C) 2022"
            VALUE "OriginalFilename", "nu.exe"
            VALUE "ProductName", "Nushell"
            VALUE "ProductVersion", VER_PRODUCTVERSION_STR
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

#define IDI_ICON 0x101
IDI_ICON ICON "assets/nu_logo.ico"
#endif