[package]
name = "nu_plugin_custom_values"
repository = "https://github.com/nushell/nushell/tree/main/crates/nu_plugin_custom_values"
version = "0.1.0"
edition = "2024"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[[bin]]
name = "nu_plugin_custom_values"
bench = false

[lints]
workspace = true

[dependencies]
nu-plugin = { path = "../nu-plugin", version = "0.107.1", features = [] }
nu-protocol = { path = "../nu-protocol", version = "0.107.1", features = ["plugin"] }
serde = { workspace = true }
typetag = "0.2"

[dev-dependencies]
nu-plugin-test-support = { path = "../nu-plugin-test-support", version = "0.107.1" }
