[package]
authors = ["The Nushell Project Developers"]
description = "Nushell dataframe plugin commands based on polars."
edition = "2021"
license = "MIT"
name = "nu_plugin_polars"
repository = "https://github.com/nushell/nushell/tree/main/crates/nu_plugin_polars"
version = "0.100.1"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[[bin]]
name = "nu_plugin_polars"
bench = false

[lib]
bench = false

[dependencies]
nu-protocol = { path = "../nu-protocol", version = "0.100.1" }
nu-plugin = { path = "../nu-plugin", version = "0.100.1" }
nu-path = { path = "../nu-path", version = "0.100.1" }
nu-utils = { path = "../nu-utils", version = "0.100.1" }

# Potential dependencies for extras
chrono = { workspace = true, features = ["std", "unstable-locales"], default-features = false }
chrono-tz = "0.10"
fancy-regex = { workspace = true }
indexmap = { version = "2.6" }
mimalloc = { version = "0.1.42" }
num = {version = "0.4"}
serde = { version = "1.0", features = ["derive"] }
sqlparser = { version = "0.49"}
polars-io = { version = "0.44", features = ["avro"]}
polars-arrow = { version = "0.44"}
polars-ops = { version = "0.44", features = ["pivot"]}
polars-plan = { version = "0.44", features = ["regex"]}
polars-utils = { version = "0.44"}
typetag = "0.2"
env_logger = "0.11.3"
log.workspace = true
uuid = { version = "1.11", features = ["v4", "serde"] }

# Do to a compile error with polars, this included to force the raw dependency
hashbrown = { version = "0.14", features = ["rayon", "ahash", "serde", "raw"] }

[dependencies.polars]
features = [
    "arg_where",
    "checked_arithmetic",
    "concat_str",
    "cross_join",
    "csv",
    "cum_agg",
    "default",
    "dtype-categorical",
    "dtype-datetime",
    "dtype-struct",
    "dtype-decimal",
    "dtype-i8",
    "dtype-i16",
    "dtype-u8",
    "dtype-u16",
    "dynamic_group_by",
    "ipc",
    "is_in",
    "json",
    "lazy",
    "object",
    "parquet",
    "pivot",
    "random",
    "rolling_window",
    "rows",
    "serde",
    "serde-lazy",
    "strings",
    "string_to_integer",
    "streaming",
    "temporal",
    "to_dummies",
]
optional = false
version = "0.44"

[dev-dependencies]
nu-cmd-lang = { path = "../nu-cmd-lang", version = "0.100.1" }
nu-engine = { path = "../nu-engine", version = "0.100.1" }
nu-parser = { path = "../nu-parser", version = "0.100.1" }
nu-command = { path = "../nu-command", version = "0.100.1" }
nu-plugin-test-support = { path = "../nu-plugin-test-support", version = "0.100.1" }
tempfile.workspace = true
