[package]
authors = ["The Nushell Project Developers"]
description = "Nushell dataframe plugin commands based on polars."
edition = "2024"
license = "MIT"
name = "nu_plugin_polars"
repository = "https://github.com/nushell/nushell/tree/main/crates/nu_plugin_polars"
version = "0.106.2"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[[bin]]
name = "nu_plugin_polars"
bench = false

[lib]
bench = false

[dependencies]
nu-protocol = { path = "../nu-protocol", version = "0.106.2" }
nu-plugin = { path = "../nu-plugin", version = "0.106.2" }
nu-path = { path = "../nu-path", version = "0.106.2" }
nu-utils = { path = "../nu-utils", version = "0.106.2" }

# Potential dependencies for extras
chrono = { workspace = true, features = [
  "std",
  "unstable-locales",
], default-features = false }
chrono-tz = "0.10"
fancy-regex = { workspace = true }
indexmap = { version = "2.11" }
num = { version = "0.4" }
serde = { version = "1.0", features = ["derive"] }
sqlparser = { version = "=0.53.0" }
polars-io = { version = "=0.49.1", features = ["avro", "cloud", "aws"] }
polars-arrow = { version = "=0.49.1" }
polars-ops = { version = "=0.49.1", features = ["pivot", "cutqcut"] }
polars-plan = { version = "=0.49.1", features = ["regex"] }
polars-utils = { version = "=0.49.1" }
planus = { version = "=1.1.1" } # Temporarily here to convince cargo not to upgrade planus to 1.2.0
typetag = "0.2"
env_logger = "0.11.3"
log.workspace = true
uuid = { version = "1.16", features = ["v4", "serde"] }

# Do to a compile error with polars, this included to force the raw dependency
hashbrown = { version = "0.15", features = ["rayon", "serde"] }

# Cloud support
aws-config = { version = "1.5", features = ["sso"] }
aws-credential-types = "1.2"
tokio = { version = "1.45", features = ["full"] }
object_store = { version = "0.12", features = ["aws"], default-features = false }
url.workspace = true

[dependencies.polars]
features = [
  "abs",
  "arg_where",
  "bigidx",
  "checked_arithmetic",
  "cloud",
  "concat_str",
  "cross_join",
  "iejoin",
  "csv",
  "cum_agg",
  "default",
  "dtype-categorical",
  "dtype-datetime",
  "dtype-struct",
  "dtype-decimal",
  "dtype-i8",
  "dtype-i16",
  "dtype-u8",
  "dtype-u16",
  "dynamic_group_by",
  "ipc",
  "is_in",
  "json",
  "lazy",
  "log",
  "object",
  "parquet",
  "pivot",
  "random",
  "replace",
  "rolling_window",
  "rows",
  "round_series",
  "serde",
  "serde-lazy",
  "sign",
  "strings",
  "string_to_integer",
  "timezones",
  "temporal",
  "to_dummies",
  "trigonometry",
]
optional = false
version = "0.49"

[dev-dependencies]
nu-cmd-lang = { path = "../nu-cmd-lang", version = "0.106.2" }
nu-engine = { path = "../nu-engine", version = "0.106.2" }
nu-parser = { path = "../nu-parser", version = "0.106.2" }
nu-command = { path = "../nu-command", version = "0.106.2" }
nu-plugin-test-support = { path = "../nu-plugin-test-support", version = "0.106.2" }
tempfile.workspace = true
