[package]
authors = ["The Nushell Project Developers"]
description = "Nushell's internal protocols, including its abstract syntax tree"
repository = "https://github.com/nushell/nushell/tree/main/crates/nu-protocol"
edition = "2021"
license = "MIT"
name = "nu-protocol"
version = "0.80.1"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
bench = false

[dependencies]
nu-utils = { path = "../nu-utils", version = "0.80.1" }

byte-unit = "4.0.9"
chrono = { version = "0.4.23", features = [
    "serde",
    "std",
], default-features = false }
chrono-humanize = "0.2.1"
fancy-regex = "0.11.0"
indexmap = { version = "1.7" }
lru = "0.10.0"
miette = { version = "5.7.0", features = ["fancy-no-backtrace"] }
num-format = "0.4.3"
serde = { version = "1.0.143", default-features = false }
serde_json = { version = "1.0", optional = true }
strum = "0.24"
strum_macros = "0.24"
sys-locale = "0.3.0"
thiserror = "1.0.31"
typetag = "0.2.5"

[features]
plugin = ["serde_json"]

[dev-dependencies]
serde_json = "1.0"
nu-test-support = { path = "../nu-test-support", version = "0.80.1" }
