[package]
name = "nu-protocol"
version = "0.14.1"
authors = ["The Nu Project Contributors"]
edition = "2018"
description = "Core values and protocols for Nushell"
license = "MIT"

[lib]
doctest = false

[dependencies]
nu-source = { path = "../nu-source", version = "0.14.1" }
nu-errors = { path = "../nu-errors", version = "0.14.1" }

serde = { version = "1.0.106", features = ["derive"] }
indexmap = { version = "1.3.2", features = ["serde-1"] }
num-bigint = { version = "0.2.6", features = ["serde"] }
bigdecimal = { version = "0.1.0", features = ["serde"] }
chrono = { version = "0.4.11", features = ["serde"] }
num-traits = "0.2.11"
serde_bytes = "0.11.3"
getset = "0.1.0"
derive-new = "0.5.8"
ansi_term = "0.12.1"
language-reporting = "0.4.0"
typetag = "0.1.4"
query_interface = "0.3.5"
byte-unit = "3.0.3"
natural = "0.5.0"
log = "0.4.8"

# implement conversions
serde_yaml = "0.8"
toml = "0.5.6"
serde_json = "1.0.51"

[build-dependencies]
nu-build = { version = "0.14.1", path = "../nu-build" }
