[package]
authors = ["The Nushell Project Developers"]
description = "Nushell's internal protocols, including its abstract syntax tree"
edition = "2021"
license = "MIT"
name = "nu-protocol"
version = "0.64.1"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
nu-utils = { path = "../nu-utils", version = "0.64.1"  }
thiserror = "1.0.31"
miette = { version = "5.1.0", features = ["fancy"] }
serde = {version = "1.0.130", features = ["derive"]}
chrono = { version="0.4.19", features=["serde"] }
indexmap = { version="1.7", features=["serde-1"] }
chrono-humanize = "0.2.1"
byte-unit = "4.0.9"
serde_json = { version = "1.0", optional = true }
nu-json = { path = "../nu-json", version = "0.64.1"  }
typetag = "0.1.8"
num-format = "0.4.0"
sys-locale = "0.2.0"
regex = "1.5.4"

[features]
plugin = ["serde_json"]

[dev-dependencies]
serde_json = "1.0"
