[package]
authors = ["The Nushell Project Developers"]
description = "Nushell's internal protocols, including its abstract syntax tree"
repository = "https://github.com/nushell/nushell/tree/main/crates/nu-protocol"
edition = "2021"
license = "MIT"
name = "nu-protocol"
version = "0.90.1"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
bench = false

[dependencies]
nu-utils = { path = "../nu-utils", version = "0.90.1" }
nu-path = { path = "../nu-path", version = "0.90.1" }
nu-system = { path = "../nu-system", version = "0.90.1" }

byte-unit = { version = "5.1", features = [ "serde" ] }
chrono = { version = "0.4", features = [ "serde", "std", "unstable-locales" ], default-features = false }
chrono-humanize = "0.2"
fancy-regex = "0.12"
indexmap = "2.1"
lru = "0.12"
miette = { version = "5.10", features = ["fancy-no-backtrace"] }
num-format = "0.4"
serde = { version = "1.0", default-features = false }
serde_json = { version = "1.0", optional = true }
thiserror = "1.0"
typetag = "0.2"

[features]
plugin = ["serde_json"]

[dev-dependencies]
serde_json = "1.0"
strum = "0.25"
strum_macros = "0.25"
nu-test-support = { path = "../nu-test-support", version = "0.90.1" }
rstest = "0.18"

[package.metadata.docs.rs]
all-features = true
