[package]
authors = ["The Nu Project Contributors"]
description = "Core values and protocols for Nushell"
edition = "2018"
license = "MIT"
name = "nu-protocol"
version = "0.27.1"

[lib]
doctest = false

[dependencies]
bigdecimal = { version = "0.2.0", features = ["serde"] }
byte-unit = "4.0.9"
chrono = { version = "0.4.19", features = ["serde"] }
derive-new = "0.5.8"
getset = "0.1.1"
indexmap = { version = "1.6.1", features = ["serde-1"] }
log = "0.4.14"
nu-errors = { path = "../nu-errors", version = "0.27.1" }
nu-source = { path = "../nu-source", version = "0.27.1" }
num-bigint = { version = "0.3.1", features = ["serde"] }
num-integer = "0.1.44"
num-traits = "0.2.14"
serde = { version = "1.0", features = ["derive"] }
serde_bytes = "0.11.5"

# implement conversions
serde_json = "1.0"
serde_yaml = "0.8.16"
toml = "0.5.8"

[build-dependencies]
