[package]
authors = ["The Nushell Project Developers"]
description = "Nushell utility functions"
edition = "2021"
license = "MIT"
name = "nu-utils"
repository = "https://github.com/nushell/nushell/tree/main/crates/nu-utils"
version = "0.92.3"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[[bin]]
name = "utils"
path = "src/main.rs"
bench = false

[lib]
bench = false

[dependencies]
lscolors = { workspace = true, default-features = false, features = ["nu-ansi-term"] }
log = { workspace = true }
num-format = { workspace = true }
strip-ansi-escapes = { workspace = true }
serde = { workspace = true }
sys-locale = "0.3"
unicase = "2.7.0"

[target.'cfg(windows)'.dependencies]
crossterm_winapi = "0.9"

[target.'cfg(unix)'.dependencies]
nix = { workspace = true, default-features = false, features = ["user"] }