[package]
authors = ["The Nushell Project Developers"]
description = "Nushell utility functions"
edition = "2021"
license = "MIT"
name = "nu-utils"
repository = "https://github.com/nushell/nushell/tree/main/crates/nu-utils"
version = "0.88.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[[bin]]
name = "utils"
path = "src/main.rs"
bench = false

[lib]
bench = false

[dependencies]
log = "0.4"
lscolors = { version = "0.15", default-features = false, features = ["nu-ansi-term"] }
num-format = { version = "0.4" }
strip-ansi-escapes = "0.2.0"
sys-locale = "0.3"
unicase = "2.7.0"

[target.'cfg(windows)'.dependencies]
crossterm_winapi = "0.9"
