[package]
name = "nu-parser"
version = "0.12.0"
authors = ["Jonathan Turner <jonathan.d.turner@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
num-bigint = { version = "0.2.6", features = ["serde"] }
bigdecimal = { version = "0.1.0", features = ["serde"] }
indexmap = { version = "1.3.2", features = ["serde-1"] }
parking_lot = "0.10.0"
num-traits = "0.2.11"
derive-new = "0.5.8"
serde = "1.0.106"
language-reporting = "0.4.0"

nu-source = { version = "0.12.0", path = "../nu-source" }
nu-protocol = { version = "0.12.0", path = "../nu-protocol" }
nu-errors = { version = "0.12.0", path = "../nu-errors" }
