[package]
authors = ["The Nushell Project Developers"]
description = "Nushell's parser"
edition = "2021"
license = "MIT"
name = "nu-parser"
version = "0.63.1"

[dependencies]
chrono = "0.4.19"
miette = "4.5.0"
thiserror = "1.0.29"
serde_json = "1.0"
nu-path = {path = "../nu-path", version = "0.63.1" }
nu-protocol = { path = "../nu-protocol", version = "0.63.1" }
nu-plugin = { path = "../nu-plugin", optional = true, version = "0.63.1"  }
log = "0.4"

[features]
plugin = ["nu-plugin"]
