[package]
authors = ["The Nushell Project Developers"]
description = "Nushell's parser"
repository = "https://github.com/nushell/nushell/tree/main/crates/nu-parser"
edition = "2021"
license = "MIT"
name = "nu-parser"
version = "0.80.1"

[lib]
bench = false

[dependencies]
bytesize = "1.2.0"
chrono = { default-features = false, features = ['std'], version = "0.4.23" }
itertools = "0.10"
miette = {version = "5.7.0", features = ["fancy-no-backtrace"]}
thiserror = "1.0.31"
serde_json = "1.0"
nu-path = {path = "../nu-path", version = "0.80.1" }
nu-protocol = { path = "../nu-protocol", version = "0.80.1" }
nu-plugin = { path = "../nu-plugin", optional = true, version = "0.80.1"  }
nu-engine = { path = "../nu-engine", version = "0.80.1" }
log = "0.4"

[dev-dependencies]
rstest = { version = "0.17.0", default-features = false }

[features]
plugin = ["nu-plugin"]
