[package]
authors = ["The Nu Project Contributors"]
description = "Nushell parser"
edition = "2018"
license = "MIT"
name = "nu-parser"
version = "0.26.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bigdecimal = {version = "0.2.0", features = ["serde"]}
codespan-reporting = "0.11.0"
derive-new = "0.5.8"
derive_is_enum_variant = "0.1.1"
indexmap = {version = "1.6.1", features = ["serde-1"]}
log = "0.4.11"
num-bigint = {version = "0.3.1", features = ["serde"]}
num-traits = "0.2.14"
serde = "1.0.118"
shellexpand = "2.1.0"

dunce = "1.0.1"
nu-errors = {version = "0.26.0", path = "../nu-errors"}
nu-protocol = {version = "0.26.0", path = "../nu-protocol"}
nu-source = {version = "0.26.0", path = "../nu-source"}
nu-test-support = {version = "0.26.0", path = "../nu-test-support"}

[features]
stable = []
trace = []
