[package]
authors = ["The Nushell Project Developers"]
description = "Nushell's parser"
edition = "2021"
license = "MIT"
name = "nu-parser"
version = "0.66.3"

[dependencies]
chrono = "0.4.20"
itertools = "0.10"
miette = "5.1.0"
thiserror = "1.0.31"
serde_json = "1.0"
nu-path = {path = "../nu-path", version = "0.66.3" }
nu-protocol = { path = "../nu-protocol", version = "0.66.3" }
nu-plugin = { path = "../nu-plugin", optional = true, version = "0.66.3"  }
nu-engine = { path = "../nu-engine", version = "0.66.3" }
log = "0.4"

[features]
plugin = ["nu-plugin"]
