[package]
authors = ["The Nu Project Contributors"]
description = "Nushell parser"
edition = "2018"
license = "MIT"
name = "nu-parser"
version = "0.35.0"

[dependencies]
bigdecimal = { package = "bigdecimal-rs", version = "0.2.1", features = ["serde"] }
codespan-reporting = "0.11.0"
derive-new = "0.5.8"
indexmap = { version="1.6.1", features=["serde-1"] }
log = "0.4"
num-bigint = { version="0.3.1", features=["serde"] }
num-traits = "0.2.14"
serde = "1.0"
itertools = "0.10.0"
smart-default = "0.6.0"

dunce = "1.0.1"
nu-errors = { version = "0.35.0", path="../nu-errors" }
nu-path = { version = "0.35.0", path="../nu-path" }
nu-protocol = { version = "0.35.0", path="../nu-protocol" }
nu-source = { version = "0.35.0", path="../nu-source" }
nu-test-support = { version = "0.35.0", path="../nu-test-support" }

[features]
stable = []
