[package]
authors = ["The Nu Project Contributors"]
description = "Nushell parser"
edition = "2018"
license = "MIT"
name = "nu-parser"
version = "0.37.1"

[dependencies]
bigdecimal = { package = "bigdecimal-rs", version = "0.2.1", features = ["serde"] }
derive-new = "0.5.8"
indexmap = { version="1.6.1", features=["serde-1"] }
log = "0.4"
num-bigint = { version="0.3.1", features=["serde"] }
itertools = "0.10.0"
smart-default = "0.6.0"

nu-errors = { version = "0.37.1", path="../nu-errors" }
nu-data = { version = "0.37.1", path="../nu-data" }
nu-path = { version = "0.37.1", path="../nu-path" }
nu-protocol = { version = "0.37.1", path="../nu-protocol" }
nu-source = { version = "0.37.1", path="../nu-source" }
nu-test-support = { version = "0.37.1", path="../nu-test-support" }

[features]
stable = []
