[package]
authors = ["The Nushell Project Developers"]
description = "The standard library of Nushell"
repository = "https://github.com/nushell/nushell/tree/main/crates/nu-std"
edition = "2021"
license = "MIT"
name = "nu-std"
version = "0.95.1"

[dependencies]
nu-parser = { version = "0.95.1", path = "../nu-parser" }
nu-protocol = { version = "0.95.1", path = "../nu-protocol" }
nu-engine = { version = "0.95.1", path = "../nu-engine" }
miette = { workspace = true, features = ["fancy-no-backtrace"] }

log = "0.4"