[package]
authors = ["The Nushell Project Developers"]
description = "The standard library of Nushell"
repository = "https://github.com/nushell/nushell/tree/main/crates/nu-std"
edition = "2024"
license = "MIT"
name = "nu-std"
version = "0.105.2"

[dependencies]
nu-parser = { version = "0.105.2", path = "../nu-parser" }
nu-protocol = { version = "0.105.2", path = "../nu-protocol", default-features = false }
nu-engine = { version = "0.105.2", path = "../nu-engine", default-features = false }
miette = { workspace = true, features = ["fancy-no-backtrace"] }

log = "0.4"

[lints]
workspace = true

[features]
sqlite = []

