[package]
authors = ["The Nushell Project Developers"]
description = "Nushell's built-in commands"
edition = "2021"
license = "MIT"
name = "nu-command"
version = "0.63.1"
build = "build.rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
nu-color-config = { path = "../nu-color-config", version = "0.63.1"  }
nu-engine = { path = "../nu-engine", version = "0.63.1"  }
nu-glob = { path = "../nu-glob", version = "0.63.1" }
nu-json = { path = "../nu-json", version = "0.63.1"  }
nu-parser = { path = "../nu-parser", version = "0.63.1"  }
nu-path = { path = "../nu-path", version = "0.63.1"  }
nu-pretty-hex = { path = "../nu-pretty-hex", version = "0.63.1"  }
nu-protocol = { path = "../nu-protocol", version = "0.63.1"  }
nu-system = { path = "../nu-system", version = "0.63.1"  }
nu-table = { path = "../nu-table", version = "0.63.1"  }
nu-term-grid = { path = "../nu-term-grid", version = "0.63.1"  }
nu-test-support = { path = "../nu-test-support", version = "0.63.1"  }
nu-utils = { path = "../nu-utils", version = "0.63.1" }
nu-ansi-term = "0.45.1"

# Potential dependencies for extras
alphanumeric-sort = "1.4.4"
base64 = "0.13.0"
bytesize = "1.1.0"
calamine = "0.18.0"
chrono = { version = "0.4.19", features = ["serde"] }
chrono-humanize = "0.2.1"
chrono-tz = "0.6.1"
crossterm = "0.23.0"
csv = "1.1.6"
dialoguer = "0.9.0"
digest = "0.10.0"
dtparse = "1.2.0"
eml-parser = "0.1.0"
encoding_rs = "0.8.30"
filesize = "0.2.0"
filetime = "0.2.15"
fs_extra = "1.2.0"
htmlescape = "0.3.1"
ical = "0.7.0"
indexmap = { version="1.7", features=["serde-1"] }
Inflector = "0.11"
itertools = "0.10.0"
lazy_static = "1.4.0"
log = "0.4.14"
lscolors = { version = "0.9.0", features = ["crossterm"]}
md5 = { package = "md-5", version = "0.10.0" }
meval = "0.2.0"
mime = "0.3.16"
notify = "4.0.17"
num = { version = "0.4.0", optional = true }
pathdiff = "0.2.1"
powierza-coefficient = "1.0"
quick-xml = "0.22"
rand = "0.8"
rayon = "1.5.1"
regex = "1.5.4"
reqwest = {version = "0.11", features = ["blocking", "json"] }
roxmltree = "0.14.0"
rust-embed = "6.3.0"
serde = { version="1.0.123", features=["derive"] }
serde_ini = "0.2.0"
serde_urlencoded = "0.7.0"
serde_yaml = "0.8.16"
sha2 = "0.10.0"
# Disable default features b/c the default features build Git (very slow to compile)
shadow-rs = { version = "0.11.0", default-features = false }
strip-ansi-escapes = "0.1.1"
sysinfo = "0.23.5"
terminal_size = "0.1.17"
thiserror = "1.0.29"
titlecase = "1.1.0"
toml = "0.5.8"
unicode-segmentation = "1.8.0"
url = "2.2.1"
uuid = { version = "0.8.2", features = ["v4"] }
which = { version = "4.2.2", optional = true }
reedline = { git = "https://github.com/nushell/reedline", branch = "main", features = ["bashisms"]}
wax = { version =  "0.4.0", features = ["diagnostics"] }
rusqlite = { version = "0.27.0", features = ["bundled"], optional = true }
sqlparser = { version = "0.16.0", features = ["serde"], optional = true }

[target.'cfg(unix)'.dependencies]
umask = "2.0.0"
users = "0.11.0"

[target.'cfg(not(any(target_os = "android", target_os = "ios")))'.dependencies.trash]
version = "2.1.3"
optional = true

[dependencies.polars]
version = "0.21.1"
# path = "../../../../polars/polars"
optional = true
features = [
	"default", "to_dummies", "parquet", "json", "serde", "serde-lazy",
	"object", "checked_arithmetic", "strings", "cum_agg", "is_in",
	"rolling_window", "strings", "rows", "random",
  "dtype-datetime", "dtype-struct", "lazy", "cross_join",
	"dynamic_groupby"
]

[features]
trash-support = ["trash"]
which-support = ["which"]
plugin = ["nu-parser/plugin"]
dataframe = ["polars", "num"]
database = ["sqlparser", "rusqlite"]

[build-dependencies]
shadow-rs = { version = "0.11.0", default-features = false }

[dev-dependencies]
hamcrest2 = "0.3.0"
dirs-next = "2.0.0"
quickcheck = "1.0.3"
quickcheck_macros = "1.0.0"
