[package]
name = "nu-command"
version = "0.59.0"
edition = "2021"
build = "build.rs"


# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
# nu-ansi-term = {path = "../nu-ansi-term", version = "0.59.0" }
nu-ansi-term = "0.42.0"

nu-color-config = { path = "../nu-color-config", version = "0.59.0"  }
nu-engine = { path = "../nu-engine", version = "0.59.0"  }
nu-json = { path = "../nu-json", version = "0.59.0"  }
nu-parser = { path = "../nu-parser", version = "0.59.0"  }
nu-path = { path = "../nu-path", version = "0.59.0"  }
nu-pretty-hex = { path = "../nu-pretty-hex", version = "0.59.0"  }
nu-protocol = { path = "../nu-protocol", version = "0.59.0"  }
nu-system = { path = "../nu-system", version = "0.59.0"  }
nu-table = { path = "../nu-table", version = "0.59.0"  }
nu-term-grid = { path = "../nu-term-grid", version = "0.59.0"  }
nu-test-support = { path = "../nu-test-support", version = "0.59.0"  }

# Potential dependencies for extras
base64 = "0.13.0"
bytesize = "1.1.0"
calamine = "0.18.0"
chrono = { version = "0.4.19", features = ["serde"] }
chrono-humanize = "0.2.1"
chrono-tz = "0.6.0"
crossterm = "0.22.1"
csv = "1.1.3"
dialoguer = "0.9.0"
digest = "0.10.0"
dtparse = "1.2.0"
eml-parser = "0.1.0"
encoding_rs = "0.8.30"
filesize = "0.2.0"
glob = "0.3.0"
htmlescape = "0.3.1"
ical = "0.7.0"
indexmap = { version="1.7", features=["serde-1"] }
Inflector = "0.11"
itertools = "0.10.0"
lazy_static = "1.4.0"
log = "0.4.14"
lscolors = { version = "0.8.0", features = ["crossterm"] }
md5 = { package = "md-5", version = "0.10.0" }
meval = "0.2.0"
mime = "0.3.16"
num = { version = "0.4.0", optional = true }
pathdiff = "0.2.1"
quick-xml = "0.22"
rand = "0.8"
rayon = "1.5.1"
regex = "1.5.4"
reqwest = {version = "0.11", features = ["blocking"] }
roxmltree = "0.14.0"
rust-embed = "6.3.0"
serde = { version="1.0.123", features=["derive"] }
serde_ini = "0.2.0"
serde_urlencoded = "0.7.0"
serde_yaml = "0.8.16"
sha2 = "0.10.0"
shadow-rs = "0.8.1"
strip-ansi-escapes = "0.1.1"
sysinfo = "0.22.2"
terminal_size = "0.1.17"
thiserror = "1.0.29"
titlecase = "1.1.0"
toml = "0.5.8"
trash = { version = "2.0.2", optional = true }
unicode-segmentation = "1.8.0"
url = "2.2.1"
uuid = { version = "0.8.2", features = ["v4"] }
which = { version = "4.2.2", optional = true }
reedline = { git = "https://github.com/nushell/reedline", branch = "main" }
zip = { version="0.5.9", optional = true }

[target.'cfg(unix)'.dependencies]
umask = "1.0.0"
users = "0.11.0"

[dependencies.polars]
version = "0.18.0"
optional = true
features = [
	"default", "parquet", "json", "serde", "object",
	"checked_arithmetic", "strings", "cum_agg", "is_in",
	"rolling_window", "strings", "pivot", "random"
]

[features]
trash-support = ["trash"]
plugin = ["nu-parser/plugin"]
dataframe = ["polars", "num"]

[build-dependencies]
shadow-rs = "0.8.1"

[dev-dependencies]
hamcrest2 = "0.3.0"
dirs-next = "2.0.0"
quickcheck = "1.0.3"
quickcheck_macros = "1.0.0"
