[package]
authors = ["The Nushell Project Developers"]
description = "Color configuration code used by Nushell"
repository = "https://github.com/nushell/nushell/tree/main/crates/nu-color-config"
edition = "2021"
license = "MIT"
name = "nu-color-config"
version = "0.79.1"

[lib]
bench = false

[dependencies]
serde = { version="1.0.123", features=["derive"] }
# used only for text_style Alignments
tabled = { version = "0.10.0", features = ["color"], default-features = false }

nu-protocol = { path = "../nu-protocol", version = "0.79.1"  }
nu-ansi-term = "0.47.0"
nu-utils = { path = "../nu-utils", version = "0.79.1" }
nu-engine = { path = "../nu-engine", version = "0.79.1" }
nu-json = { path="../nu-json", version = "0.79.1"  }

[dev-dependencies]
nu-test-support = { path="../nu-test-support", version = "0.79.1"  }
