[package]
authors = ["The Nushell Project Developers"]
description = "Color configuration code used by Nushell"
repository = "https://github.com/nushell/nushell/tree/main/crates/nu-color-config"
edition = "2021"
license = "MIT"
name = "nu-color-config"
version = "0.83.2"

[lib]
bench = false

[dependencies]
nu-protocol = { path = "../nu-protocol", version = "0.83.2"  }
nu-ansi-term = "0.49.0"
nu-utils = { path = "../nu-utils", version = "0.83.2" }
nu-engine = { path = "../nu-engine", version = "0.83.2" }
nu-json = { path="../nu-json", version = "0.83.2"  }

# Due to https://github.com/serde-rs/serde/issues/2538
serde = { version = "1.0, < 1.0.172", features = ["derive"] }

[dev-dependencies]
nu-test-support = { path="../nu-test-support", version = "0.83.2"  }
