[package]
authors = ["The Nushell Project Developers"]
description = "Color configuration code used by Nushell"
edition = "2021"
license = "MIT"
name = "nu-color-config"
version = "0.64.0"

[dependencies]
nu-protocol = { path = "../nu-protocol", version = "0.64.0"  }
nu-ansi-term = "0.46.0"
nu-json = { path = "../nu-json", version = "0.64.0"  }
nu-table = { path = "../nu-table", version = "0.64.0"  }
serde = { version="1.0.123", features=["derive"] }
